@font-face {
    font-family: "Pretendard";
    src: url("/Pretendard-Regular.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #464646;

    display: flex;
}

body * {
    font-family: "Pretendard";
}

#root {
    background-color: #1c1c1c;
    max-width: 600px;
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
